.chart-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
}
  
.chart-bar__inner {
    height: 100%;
    width: 100%;
    min-width: 18px;
    border-radius: 12px;
    background-color: #1E252898;
    border: 1px solid #0EF6BE80;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
  
.chart-bar__fill {
    background-color: #0EF6BE;
    width: 100%;
    transition: all 0.3s ease-out;
}
  
.chart-bar__label {
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    color: #FFF;
    text-transform: lowercase;
    display: block;
    margin-top: 10px;
}