.new-expense {
  background-color: #1E2528;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  text-align: center;
  box-shadow: 0 20px 50px #1E2528;
  border: 1px solid #0EF6BE80;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
  
.new-expense button {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #1E252898;
  border: 2px solid #0EF6BE;
  padding: 18px;
  border-radius: 12px;
  cursor: pointer;
}

.new-expense button.month-max-btn {
  border: 2px solid #E41F7B;
}

.new-expense button[type="button"] {
  margin-right: 20px;
}

.new-expense button.month-max-btn:hover,
.new-expense button.month-max-btn:active {
  background-color: #E41F7B80;
  border-color: #E41F7B;
  color: #FFFFFF;
}
  
.new-expense button:hover,
.new-expense button:active {
  background-color: #0EF6BE99;
  border-color: #0EF6BE;
  color: #000000;
}
  
.new-expense__control label {
  color: white;
}